<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytebyte6.view">

    <application>
        <activity
            android:name=".video.VideoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:launchMode="singleTop"
            android:theme="@style/Theme.Rtmp"
            android:name="com.bytebyte6.view.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:theme="@style/Theme.Launcher"
            android:name=".LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>